<div class="row">
    <div class="container">
        <div class="col-md-10">
            <table class="table table-bordered text-center">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Id</th>
                    <th>Publicó</th>
                    <th>Aprobar comentarios</th>
                    <th>Fecha</th>
                    <th>Cuerpo del comentario</th>
                </tr>
                </thead>

                <tbody class="bg-dark text-white">
                {{#each comments}}
                    <tr>
                        <td>{{_id}}</td>
                        <td style="width: auto;">{{user.firstName}} {{user.lastName}}</td>
                        <td><input type="checkbox" name="approveComments" class="approveComments" data-buttonid="{{_id}}" 
                        {{#if commentIsApproved}}checked="checked"{{/if}} /></td>
                        <td>{{date}}</td>
                        <td>{{body}}</td>
                    </tr>

                {{/each}}
                </tbody>


            </table>
        </div>
    </div>
</div>
