<div class="container">

  <h1 class="alert alert-secondary text-center">EDITANDO CATEGORÍA...</h1>


  <div class="row">
    <div class="col-6 mx-auto">
      <table class="table table-bordered text-center border-success text-white">
        <thead class="bg-primary">
          <tr>
            <th>Título</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover bg-dark category-list">
          {{#each categories}}
          <tr>
            <td>{{title}}</td>
            <td class="d-flex justify-content-center">
              <a href="/admin/categorias/editarCategorias/{{_id}}" class="btn btn-sm btn-warning mr-2" role="button">Editar</a>
              <form action="/admin/category/{{_id}}?newMethod=DELETE" method="post"> <!-- Revisar la ruta de esta linea con el indexCategorias-->
                <button class="btn btn-sm btn-danger" type="submit" disabled>Borrar</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>

  <hr>

  <div class="row p-4">
    <div class="col-md-8">
      <div class="form-group">
        <label for="title">Nombre de categoria a actualizar</label>
        <input type="text" class="form-control" id="category-title" name="title" value="{{category.title}}">
        <input type="hidden" class="form-control" id="category-id" name="id" value="{{category._id}}">
      </div>
      <button class="btn btn-outline-success btn-lg" id="update-category-button">Actualizar Categoria</button>
    </div>
  </div>


</div>